{% extends 'base.html.twig' %}

{% block title %}MenuCard{% endblock %}

{% block body %}

{% for message in app.flashes('order') %}
    <div class="alert alert-success">
        <h3>{{ message }}</h3>
    </div>
{% endfor %}

<!-- Playlist section -->
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2>MenuCard</h2>
        </div>
        <div class="container">
            <ul class="playlist-filter controls">
                {# // "data-filter" added from categories exactly like in saved database #}
                <li class="control" data-filter=".Drinks">Drinks</li>
                <li class="control" data-filter=".Appetizer">Appetizers</li>
                <li class="control" data-filter=".Main">Main Course</li>
                <li class="control" data-filter=".Desserts">Desserts</li>
                <li class="control" data-filter=".Seasonal">Seasonal</li>
                <li class="control" data-filter="all">All Dishes</li>
            </ul>
        </div>                                              
        <div class="clearfix"></div>
        <div class="row playlist-area">
        {% for dish in dishes %}
            <div class="mix col-lg-3 col-md-4 col-sm-6 {{ dish.category }}">
                <div class="playlist-item">
                    <img src="{{ asset('uploads/' ~ dish.image) }}" alt="">
                    <h5>{{ dish.name }} - Rs. {{ dish.price }}</h5>
                    <p>OrderNo. {{ dish.id }}
                        <a href="{{ path('order', {id: dish.id}) }}" class="btn btn-outline-danger btn-sm" role="button">Order Now</a>
                    </p>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</section>
<!-- Playlist section end -->
{% endblock %}
