{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}

{% set sum = 0 %}
<br>
<div class="container">
    <h2>Your Order</h2>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Order No.</td>
                <td>Name</td>
                <td>Price</td>
                <td>Status</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            {% for orderitem in orderitems %}
                {% set sum = sum + orderitem.price %}
                <tr>
                    <td>{{ orderitem.ordernumber }}</td>
                    <td>{{ orderitem.name }}</td>
                    <td>{{ orderitem.price }}</td>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>{{ orderitem.status }}</td>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ orderitem.status }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('status', {id: orderitem.id, status: 'open'}) }}">open</a>
                                <a class="dropdown-item" href="{{ path('status', {id: orderitem.id, status: 'ready'}) }}">ready</a>
                                <a class="dropdown-item" href="{{ path('status', {id: orderitem.id, status: 'archive'}) }}">archive</a>
                            </div>
                        </div>
                    </td>
                    {% endif %}

                    {% if orderitem.status == 'open' %}
                    <td>
                        <a class="btn btn-outline-danger btn-sm" href="{{ path('delete_order', {id: orderitem.id}) }}">Remove</a>
                    </td>
                    {% endif %}

                </tr>
            {% endfor %}

            <tr>
                <td></td>
                {# <td>Total: Rs. </td> #}
                <td></td>
                <td>{{ sum }} EUR</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
            
    </table>

</div>

{% endblock %}
